*{box-sizing: border-box;}

html{
background-color: aliceblue;}

header{height: 100px;
margin: 10%;}

header p{
  font-size: 45px;
  font-family: 'Dancing Script'; 
text-align: center;}

container{}

panel { 
    height: 100%;
    width: 100%;
  display: flex;
  justify-content: center;
  padding: 10%;}
  

iframe{
    height: 60vh;
    width: 100%;
}
panel p {
  font-size: large;
  text-align: center;}

  footer{
    margin-bottom: 10%;
    margin-top: 10%;
  }
