*{box-sizing: border-box;}
html{
  height: 100vh;
background-color: #f0f8ff;}

header p{
  font-size: xx-large;
  font-family: 'Dancing Script'; 
text-align: center;}

panel { 
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 70vw;}
  
panel p {
  font-size: large;
