*{box-sizing: border-box;}

html{
  height: 100vh;
background-color: aliceblue;}

header{height: 20vh}

header p{
  font-size: 20px;
  font-family: 'Dancing Script'; 
text-align: center;}

container{}

panel { 
    height: 100%;
    width: 100%;
  display: flex;
  justify-content: center;
  padding: 10%;}
  

iframe{
    height: 700px;
    width: 800px;
}
panel p {
  font-size: large;
  text-align: center;}
